# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
# for user generated lib files
*.lib
*.pdb

# Qt-es
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator
*.autosave

#QtCtreator Qml Visual Studio
*.qmlproject.user
*.qmlproject.user.*
debug/
release/
x64/
*.pro.user
*.sdf
*.vcxproj
*.vcxproj.filters
*.suo

.idea/
desktop.ini
/.project
#Do not copy libs